USE [ComparativoRM]
GO
/****** Object:  StoredProcedure [dbo].[old_AF0069_ComparativoMueblesDetalle2]    Script Date: 10/26/2013 16:19:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[old_AF0069_ComparativoMueblesDetalle2]
as
-- =============================================
-- Autor: Antonio Acosta Murillo
-- Fecha: 11 octubre 2013
-- Descripción general: genera comparativo de ventas muebles detallado de carteras contra inventario muebles del mes 
-- =============================================
begin

-------------------------------- Ventas muebles detallado por factura o nota -----------------------------------
-- Se Agarran Las Tiendas A Detalle Que Tuvieron Diferencia
If Exists(Select * From SysObjects Where Name = 'TmpVentasMueblesCarterasDetalleMes') Drop Table TmpVentasMueblesCarterasDetalleMes
Select *
Into dbo.TmpVentasMueblesCarterasDetalleMes
From TmpVentasMueblesCarterasMes a
Where Exists (Select * From TmpVentasComparacionMueblesFinal Where NumeroTienda = A.NumeroTienda and FechaMovimiento = A.FechaMovimiento) 

update TmpVentasMueblesCarterasDetalleMes
set Ventas = 0
where exists(select * from TmpVentasComparacionMueblesFinal where NumeroTienda = TmpVentasMueblesCarterasDetalleMes.NumeroTienda and FechaMovimiento = TmpVentasMueblesCarterasDetalleMes.FechaMovimiento and DifVentas = 0)

update TmpVentasMueblesCarterasDetalleMes
set TiempoAire = 0
where exists(select * from TmpVentasComparacionMueblesFinal where NumeroTienda = TmpVentasMueblesCarterasDetalleMes.NumeroTienda and FechaMovimiento = TmpVentasMueblesCarterasDetalleMes.FechaMovimiento and DifTA = 0)

update TmpVentasMueblesCarterasDetalleMes
set Devoluciones = 0
where exists(select * from TmpVentasComparacionMueblesFinal where NumeroTienda = TmpVentasMueblesCarterasDetalleMes.NumeroTienda and FechaMovimiento = TmpVentasMueblesCarterasDetalleMes.FechaMovimiento and DifDevoluciones = 0)


-- Ventas Inv. MueblesDetalle (TmpVentasInvMueblesDetalleMes)
-- Se Deja La Misma Estructura Que Las Ventas Muebles Carteras Detalle
If Exists(Select * From SysObjects Where Name = 'TmpVentasInvMueblesDetalleMes2') Drop Table TmpVentasInvMueblesDetalleMes2
Select Tienda,Fecha,Folio,
Ventas = isnull((select sum(TotalFacturado) from TmpVentasInvMueblesDetalleMes where TipoMov = 'VT' and Tienda = a.Tienda and Fecha = a.Fecha and Folio = a.Folio),0),
TiempoAire = isnull((select sum(TotalFacturado) from TmpVentasInvMueblesDetalleMes where TipoMov = 'TA' and Tienda = a.Tienda and Fecha = a.Fecha and Folio = a.Folio),0),
Devoluciones = isnull((select sum(TotalFacturado) from TmpVentasInvMueblesDetalleMes where TipoMov = 'DV' and Tienda = a.Tienda and Fecha = a.Fecha and Folio = a.Folio),0)
into dbo.TmpVentasInvMueblesDetalleMes2
From TmpVentasInvMueblesDetalleMes a
Where Exists (Select * From TmpVentasComparacionMueblesFinal Where NumeroTienda = A.Tienda and FechaMovimiento = A.Fecha)

-- Se Forma Tabla Con Las Tiendas,Dias Y Facturas De Las 2 Tablas
If Exists(Select * From SysObjects Where Name = 'TmpVentasComparacionMueblesDetalleMes') Drop Table TmpVentasComparacionMueblesDetalleMes
Select Distinct NumeroTienda,FechaMovimiento,FacturaoNota,VentaInvMueblesDetalle = cast (0 as bigint),TAInvMueblesDetalle = cast (0 as bigint),DevInvMueblesDetalle = cast (0 as bigint),VentaMueblesDetalle = cast (0 as bigint),TAMueblesDetalle = cast (0 as bigint),DevMueblesDetalle = cast (0 as bigint)
Into dbo.TmpVentasComparacionMueblesDetalleMes
From TmpVentasMueblesCarterasDetalleMes
Union all
Select Distinct Tienda,Fecha,Folio,VentaInvMueblesDetalle = cast (0 as bigint),TAInvMueblesDetalle = cast (0 as bigint),DevInvMueblesDetalle = cast (0 as bigint),VentaMueblesDetalle = cast (0 as bigint),TAMueblesDetalle = cast (0 as bigint),DevMueblesDetalle = cast (0 as bigint)
From TmpVentasInvMueblesDetalleMes2

-- Se Quedan Las Tiendas Y Dias Sin Repetir
If Exists(Select * From SysObjects Where Name = 'TmpVentasComparacionMueblesDetalleMes2') Drop Table TmpVentasComparacionMueblesDetalleMes2
Select distinct * Into dbo.TmpVentasComparacionMueblesDetalleMes2 From TmpVentasComparacionMueblesDetalleMes

-- Se Actualiza La Venta,Ta y Dev De Inv.Muebles
Update TmpVentasComparacionMueblesDetalleMes2
Set VentaInvMueblesDetalle = a. Ventas,
	 TAInvMueblesDetalle = a.TiempoAire,
	 DevInvMueblesDetalle = a.Devoluciones
From TmpVentasInvMueblesDetalleMes2 a 
Where TmpVentasComparacionMueblesDetalleMes2.Numerotienda = a.Tienda and 
		 TmpVentasComparacionMueblesDetalleMes2.FechaMovimiento = a.Fecha and 
		  TmpVentasComparacionMueblesDetalleMes2.FacturaoNota = a.Folio

-- Se Actualiza La Venta,Ta y Dev De Carteras
Update TmpVentasComparacionMueblesDetalleMes2
Set VentaMueblesDetalle = a. Ventas,
	 TAMueblesDetalle = a.TiempoAire,
	 DevMueblesDetalle = a.Devoluciones
From TmpVentasMueblesCarterasDetalleMes a 
Where TmpVentasComparacionMueblesDetalleMes2.Numerotienda = a.NumeroTienda and 
		 TmpVentasComparacionMueblesDetalleMes2.FechaMovimiento = a.FechaMovimiento and 
		  TmpVentasComparacionMueblesDetalleMes2.FacturaoNota = a.FacturaoNota
		  
-- Se Sacan Las Diferencias Por Cada Concepto
If Exists(Select * From SysObjects Where Name = 'TmpVentasComparacionMueblesDetalleMes3') Drop Table TmpVentasComparacionMueblesDetalleMes3
Select *,DifVentas = VentaMueblesDetalle-VentaInvMueblesDetalle, DifTA = TAMueblesDetalle-TAInvMueblesDetalle, DifDevoluciones = DevMueblesDetalle-DevInvMueblesDetalle
Into dbo.TmpVentasComparacionMueblesDetalleMes3
From TmpVentasComparacionMueblesDetalleMes2

-- Tabla Para Informe de ventas de Muebles recibidas y procesadas
If Exists(Select * From SysObjects Where Name = 'TmpVentasComparacionMueblesDetalleFinal') Drop Table TmpVentasComparacionMueblesDetalleFinal
Select *, DifTotal = DifVentas + DifTA + DifDevoluciones
Into dbo.TmpVentasComparacionMueblesDetalleFinal
From TmpVentasComparacionMueblesDetalleMes3
Order By FechaMovimiento,NumeroTienda,FacturaoNota

-- Elimino Donde No Hay Diferencia
Delete from TmpVentasComparacionMueblesDetalleFinal where diftotal = 0



end
GO
