USE [ComparativoRM]
GO
/****** Object:  UserDefinedFunction [dbo].[AF0069_DateToString]    Script Date: 10/26/2013 16:19:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AF0069_DateToString](@Fecha SMALLDATETIME)
RETURNS VARCHAR(7)
AS
BEGIN
	DECLARE @año VARCHAR(4)
	DECLARe @cadena VARCHAR(7)

	SET @año = YEAR(@fecha)
	SET @cadena = SUBSTRING(DATENAME(MONTH,@fecha),1,3)+@año

	IF (MONTH(@Fecha)=01)
	BEGIN
		SET @cadena = 'Ene'+@año
	END
	IF (MONTH(@Fecha)=04)
	BEGIN
		SET @cadena = 'Abr'+@año
	END
	IF (MONTH(@Fecha)=08)
	BEGIN
		SET @cadena = 'Ago'+@año
	END
	IF (MONTH(@Fecha)=12)
	BEGIN
		SET @cadena = 'Dic'+@año
	END

	RETURN @cadena
END
GO
